body{
    padding: 20px 0 0;
    background: #BA680E url(../image/back.png) repeat-x 0 0;
}
.logo{
    font-size: 26px;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #fff;
    font-weight: bold;
    margin: 20px 60px 40px;
}
.logo .small{
    font-weight: normal;
    font-size: 18px;
}
.user-control{
    text-align: right;
    margin: 0 0 20px;
}
.user_form{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.log_out_btn{
    margin-left: 15px;
}
.reg_link{
    margin: 20px 0 0;
}
.footer{
    text-align: center;
    padding: 40px 0 80px;
}
